/* div .app{
    display: flex;
    flex-direction: column;
} */
h1 {
    align-items: center;
    text-align: center;
}
div .grid-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#second-row {
    position: relative;
}
#third-row {
    position: relative;
}
.coolbuttonone {
  margin: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
} 
.coolbuttontwo {
  margin: 0;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}
.notification-container {
    background-color: aliceblue;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 400px;
    max-width: calc(100% - 30px);
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #000;
    font-size: 16px;
    padding: 15px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    animation: grow 0.5s ease-in forwards;
}
.notification-container-empty {
    opacity: 0;
}